.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    margin-top: 1em;
    margin: 10px;
   background-color: transparent;
   border-radius: 15px;
   box-shadow: 6px 7px 19px 3px rgba(30,143,148,1);
  -webkit-box-shadow: 6px 7px 19px 3px rgba(30,143,148,1);
  -moz-box-shadow: 6px 7px 19px 3px rgba(30,143,148,1);
}

h3{
  color: #10aac2;
  font-size: 1.5em;
  font-weight: bold;
 margin-top: 0.5em;

}

h3:hover{
  color: #33c9e0;
  transition: background-color 1s ease 0s;
}