.divAbout {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  
  .parrafo1 {
    font-family: Comic Sans MS;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    border: 1px solid #03e9f4;
    border-radius: 10px;;
    color: #fff;
    padding: 30px;
    background: rgba(30, 29, 32, 0.84);
    text-shadow: -5px 8px 5px rgba(0,0,0,0.61);
  box-shadow: 6px 7px 19px 3px rgba(30,143,148,1);
  -webkit-box-shadow: 6px 7px 19px 3px rgba(30,143,148,1);
  -moz-box-shadow: 6px 7px 19px 3px rgba(30,143,148,1);
  }
  
  .imagenlogo {
    width: 50%;
    align-content: center;
    background-color: red;
  }
  
  .CardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 450px;
    margin: 0 auto;
    margin-top: 200px;
    justify-content: center;
    border: 1px solid red;
    background: rgba(30, 29, 32, 0.84);
    border: 1px solid #03e9f4;
    border-radius: 10px;
    margin-bottom: 100px;
  }
  
  .imagenprofile {
    left: 40px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: -120px;
    border: 2px solid #03e9f4;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #555;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .parrafo2 {
    font-family: Comic Sans MS;
    padding: 30px;
    font-weight: 500;
    font-size: 25px;
    line-height: 52px;
    text-align: center;
    color: #40aec4;
    border: 1px solid #03e9f4;
    border-radius: 10px;
    background: rgba(30, 29, 32, 0.84);
    text-shadow: -5px 8px 5px rgba(0,0,0,0.61);
    box-shadow: 6px 7px 19px 3px rgba(30,143,148,1);
    -webkit-box-shadow: 6px 7px 19px 3px rgba(30,143,148,1);
    -moz-box-shadow: 6px 7px 19px 3px rgba(30,143,148,1);
  }
  
  .nombre {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    position: relative;
    top: -120px;
    color: #ffffff;
    background: linear-gradient(
      89.73deg,
      #a458f4 0.14%,
      #7a81e9 39.29%,
      #00f8c8 99.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .git {
    left: 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: -140px;
  }
  
  @media (max-width: 600px) {
    .CardContainer {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      margin-top: 200px;
      justify-content: center;
      margin-bottom: 100px;
    }
  
    .imagenlogo {
      width: 100%;
    }
  
    .imagenprofile {
      scale: 0.7;
      border-radius: 50%;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      top: -150px;
    }
  }
  